.button{
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0E64D2;
    color: #fff;
}

.button:hover{
    background-color:#0b4fa8;
}